body{
    background-color: aqua;
}


@media screen and (max-width: 1600px) {
    body{
        background-color: rgb(255, 127, 234);
    }
  }

@media screen and (max-width: 800px) {
    body{
        background-color: aquamarine;
    }
}
  
@media screen and (max-width: 1200px) {
    body{
        background-color: rgb(255, 178, 127);
    }
}

