*{
    margin: 0;
    padding: 0;
}

#produc{
    margin: rem;
    background-color: aliceblue;
    padding: 1rem 0;
}

.container{
    margin: 1rem 10%;
    background-color: antiquewhite;
}   

#produc .img img{
    width: 100%;
    height: 10rem;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}   

.col{
    width: 16.66667%;
}
   

.row{
    display: flex;
    flex-wrap: wrap;
}

.item-thumnail{
    margin: 1rem;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

#produc .img{
    position: relative;
}

#produc .icon-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top:0;
    gap: .5rem;
}
.icon-btn button{
    border: 1px solid #ccc;
    padding: .5rem;
}

.item-thumnail:hover .icon-btn{
    display: flex !important;
}


body{
    background-color: aqua;
}


@media screen and (max-width: 1600px) {
    body{
        background-color: rgb(255, 127, 234);
    }
    /* 5 item */
    .col{
        width: 20%;
    }
    .container{
        margin: 1rem 5%;
    }   
  }

@media screen and (max-width: 1024px) {
    body{
        background-color: aquamarine;
    }
    /* 4 item */
    .col{
        width: 25%;
    }
    .container{
        margin: 1rem ;
        
    }   
}

@media screen and (max-width: 768px) {
    body{
        background-color: rgb(255, 178, 127);
    }
    /* 3 item */
    .col{
        width: 33.3333333%;
    }
    .container{
        margin: 1rem;
        
    }   
}

@media screen and (max-width: 568px) {
    body{
        background-color: rgb(255, 178, 127);
    }
    .col{
        width: 50%;
    }
    .container{
        margin: .5rem ;
    }   
    /* 2 item */
}

@media screen and (max-width: 412px) {
    body{
        background-color: rgb(255, 178, 127);
    }
    /* 1 item */
    .col{
        width: 100%;
    }
    .container{
        margin: .5rem ;
    }   
}




