<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respontive</title>
    <link rel="stylesheet" href="../css/ex4.css">
    <link rel="stylesheet" href=".../css/font.css">

</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <section id="produc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/4_%20Bot%20Tia%20to.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a>
                                <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 1</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/3_%20Hop%20tra%20cam%20lanh.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 2</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_6_%20vo%20Buoi(1).png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 3</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item-thumbnail">
                            <div class="img">
                                <img src="http://acatea.vn/Content/uploads/product/tin-dau/11_4_%20Bac%20ha.png" alt="">
                            </div>
                            <div class="icon-btn">
                                <!-- <a href="">#</a> -->
                                <!-- <button>
                                    tim
                                </button> -->
                            </div>
                            
                            <div class="content">
                                <h4>Item 4</h4>
                                <p>9.900.900</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </body>
    </html>
</body>
</html>