<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ex8.css">
</head>
<body>
    


    <nav>
        <div>
            <div class="icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul>
            <li>
                <img src="" alt="">
                <a href="" title="Trang chủ">Trang chủ</a>
                <span>  </span>
            </li>
            <li>
                <img src="" alt="">
                <a href="" title="Sản phẩm">Sản phẩm</a>
                <span>  </span>
            </li>
            <li>
                <img src="" alt="">
                <a href="" title="Dịch vụ">Dịch vụ </a>
                <span>  </span>
            </li>
            <li>
                <img src="" alt="">
                <a href="" title="Hỗ trợ">Hỗ trợ</a>
                <span>  </span>
            </li>
            <li>
                <img src="" alt="">
                <a href="" title="Liên hệ">Liên hệ</a>
                <span>  </span>
            </li>
        </ul>
        </ul>
    </nav>
</body>
</html>